@import "../variables.scss";

.menu {
  border-radius: 5px;

  &__dropdown {
    &__header {
      padding: 40px 20px 20px 20px;
      background: rgba(255, 255, 255, 0.2);
      // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(1px);
      -webkit-backdrop-filter: blur(1px);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      cursor: pointer;
      position: relative;

      @media screen and (max-width: 600px) {
        padding: 20px 10px 10px 10px;
      }

      &__icon {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translate(-50%, 0);

        @media screen and (max-width: 600px) {
          top: 3px;
        }

        span {
          display: block;
          width: 50px;
          height: 4px;
          background-color: $violet;
          border-radius: 10px;
        }
      }

      &__text {
        h1 {
          color: $white;
          display: flex;
          gap: 10px;
          align-items: center;
          font-size: 24px;
        }

        p {
          color: $white;
          padding-left: 35px;
          font-size: 16px;
        }
      }
    }

    &__content {
      background-color: white;
      min-height: 0;
      overflow: hidden;
      max-height: 0;
      transition: 0.3s;

      &.open {
        min-height: 40vh;
        max-height: 40vh;
        overflow: auto;
        transition: 0.3s;
      }
    }
  }

  &__content {
    // padding: 20px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 600px) {
      display: none;
    }

    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      cursor: pointer;
      gap: 5px;
      h2 {
        font-size: 12px;
        font-weight: 400;
      }

      &:hover {
        background-color: $darkWhite;
      }

      &.active {
        svg {
          stroke: $violet;
        }
        color: $violet;
      }
    }
  }
  &__list__card {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid $darkWhite;
    cursor: pointer;
    &:hover {
      background-color: $darkWhite;
    }
  }

  &__countries {
    &__heading {
      padding: 20px 10px;
      font-weight: 400;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $lightGray;
}
