@import "../variables.scss";

.playButton {
  padding: 10px;
  position: relative;
  svg {
    width: auto;
    height: 25px;
    position: relative;
    right: 2px;
    top: 2px;
    @media screen and (max-width: 600px) {
      height: 20px;
    }
  }
  @keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }

  &.show {
    &::before {
      content: "";
      position: absolute;
      animation: rotate 4s linear infinite;
      border: 2px dashed $violet;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      top: 3px;
      left: 0px;
    }
  }
}
