@import "../variables.scss";

.player {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 360px;

  @media screen and (max-width: 600px) {
    width: 100%;
    position: absolute;
    top: var(--safe-area-inset-top);
    right: 0;
    bottom: var(--tabbar-height);
    left: 0;
    pointer-events: none;
    overflow: hidden;
  }

  &__menu {
    margin-bottom: 30px;
    
  }
}
