@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "./variables.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

.map-container {
  height: 100vh;
  @media screen and (max-width: 600px) {
    height: 95vh;
  }
}

.marker {
  width: 15px;
  /* Adjust the size of the dot as needed */
  height: 15px;
  /* Adjust the size of the dot as needed */
  background-color: rgb(0, 255, 130);
  border-radius: 50%;
  /* Ensures the dot is round */
  box-shadow:
    0 0 4px rgb(0, 255, 130),
    0 0 5px rgb(0, 255, 130),
    0 0 30px rgb(0, 255, 130),
    0 0 40px rgb(0, 255, 130);
  /* Create the neon glow effect */
  /* Animate the glow effect */
  cursor: pointer;
}

.whiteMarker {
  background-color: $violet !important;
  height: 15px;
  border-radius: 50%;
  width: 15px;
  cursor: pointer;
  box-shadow:
    0 0 4px $violet,
    0 0 5px $violet,
    0 0 30px $violet,
    0 0 40px $violet;
  /* Create the neon glow effect */
}

.App {
  height: 100vh;
  overflow: hidden;
  position: relative;
  @media screen and (max-width: 600px) {
    height: 95vh;
  }
}

.mapboxgl-ctrl-attrib-inner {
  display: none;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl {
  display: none !important;
}
